body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: URL(geo.png);
}
table {
  border-collapse: collapse;
  width: 45%;
}
th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even){background-image: url(row-back.jpg)}

tr:nth-child(odd){background-image: url(row-backg.jpg)}

th {
  background-image: url(row-head.jpg);
  color: white;
}
a {
  color: rgb(66, 9, 31);
}


table {
  margin-left:auto; 
  margin-right:auto;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  border: 1px solid black;
}

table.totals {
  padding-top: 50px;
}
